#### Teagan Norrgard Classes Lab

### 1

In [2]:
import pandas as pd

file_path = "/Users/teagannorrgard/Fall2021/DS2001/repos/ds2001/programming_assignments/python/apple_data.csv"
apple = pd.read_csv(file_path)

### 2

In [3]:
class stock:
    
    def __init__(self, ticker, prices, sector):
        self.ticker = ticker
        self.prices = prices
        self.sector = sector
        
    def print_sector(self):
        return self.sector
        
    def get_row_count(self):
        self.price_records = len(self.prices.index)
        return self.price_records

### 3

In [4]:
appl = stock('AAPL', apple, 'technology')
appl.ticker

'AAPL'

### 4

In [5]:
appl.print_sector()

'technology'

### 5

In [6]:
appl.get_row_count()
appl.price_records

135

### 6

In [7]:
appl_returns = appl.prices['adj_close'].pct_change()

appl.prices['returns'] = appl_returns

appl.prices.head(5)

         date   adj_close   returns
0  2020-01-02  298.829956       NaN
1  2020-01-03  295.924713 -0.009722
2  2020-01-06  298.282715  0.007968
3  2020-01-07  296.879883 -0.004703
4  2020-01-08  301.655548  0.016086