### Warmup - Debugging, Unpacking, Set Operations on Dictionaries

Last updated: Sep 27, 2021

**INSTRUCTIONS**  
Run the various code blocks and solve the problems.

1) **Pandas debugging**. The purpose of this code is to read in a dataset, lowercase column labeled 8, and save the lowercased column into a new column.  
Unfortunately, there's a bug in the code. See if you can find the error, fix the code, append the desired column, and show some of the records  
to verify things are working properly.

In [3]:
import pandas as pd

data_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/bridges/bridges.data.version1'
df = pd.read_csv(data_path, header=None)
df.head()

   0  1   2     3         4     5  6  7        8     9      10 11    12
0  E1  M   3  1818   HIGHWAY     ?  2  N  THROUGH  WOOD  SHORT  S  WOOD
1  E2  A  25  1819   HIGHWAY  1037  2  N  THROUGH  WOOD  SHORT  S  WOOD
2  E3  A  39  1829  AQUEDUCT     ?  1  N  THROUGH  WOOD      ?  S  WOOD
3  E5  A  29  1837   HIGHWAY  1000  2  N  THROUGH  WOOD  SHORT  S  WOOD
4  E6  M  23  1838   HIGHWAY     ?  2  N  THROUGH  WOOD      ?  S  WOOD

Lowercase the column labeled 8, saving into new column

In [8]:
df['8_lower'] = df[8].apply(lambda x: x.lower())
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,8_lower
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD,through
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD,through
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD,through
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD,through
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD,through

2) **Argument unpacking.** What are the values of a, b, c in each case? Do the results make sense?

In [18]:
a, b, c = (1,3,8)

In [9]:
a, b = (1,3,8)

ValueError: too many values to unpack (expected 2)

In [11]:
a = (1,3,8)

<class 'tuple'>

In [14]:
a, _, c = (1,3,8)

Why do we use '_' here?

3a) Consider the dictionaries below. What is the intersection on keys (in other words, which keys are in both dicts)?

In [31]:
d1 = {'ds2001':['R','Python','SQL']}
d2 = {'ds2001':['R','Python','SQL'], 'ds5110':['Spark']}

In [35]:
d1.keys() & d2.keys()

{'ds2001'}

3b) What is the union of the dictionary keys (which keys are in one or both dicts)?

In [40]:
d1.keys() | d2.keys()

{'ds2001', 'ds5110'}

---